modules = ["nodejs-20", "web", "bash"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev & PORT=3000 BASE_PATH=/ pnpm --filter @workspace/call-manager run dev"
waitForPort = 3000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[userenv]

[userenv.shared]
FREESWITCH_DOMAIN = "158.180.29.84"
FREESWITCH_WS_URL = "wss://158.180.29.84:8082/"
APP_URL = "https://rtc.PRaww.co.za"
FREESWITCH_SSH_KEY = """
-----BEGIN OPENSSH PRIVATE KEY-----
  b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
  QyNTUxOQAAACApUqqe3lmDAIA2gef9dnKES/dddrNnC8GEcWHpMmeMjwAAAJDRhYYE0YWG
  BAAAAAtzc2gtZWQyNTUxOQAAACApUqqe3lmDAIA2gef9dnKES/dddrNnC8GEcWHpMmeMjw
  AAAEBEIshwR17noxwDrda2ESs2Pw632s2ypyRRT/RsV2n0VSlSqp7eWYMAgDaB5/12coRL
  9112s2cLwYRxYekyZ4yPAAAADXJlcGxpdC1kZXBsb3k=
  -----END OPENSSH PRIVATE KEY-----"""
FREESWITCH_ESL_PORT = "8021"
FREESWITCH_ESL_PASSWORD = "ClueCon"
FREESWITCH_INTERNAL_WS_URL = "ws://158.180.29.84:8081/"
MONGODB_URI = "mongodb+srv://prawwplus_db_user:2bHe7oWfeBT2zc09@cluster0.zjzasyi.mongodb.net/?appName=Cluster0"
